// http://ionicframework.com/docs/v2/theming/


// App Shared Variables
// --------------------------------------------------
// Shared Sass variables go in the app.variables.scss file
@import 'app.variables';
$toolbar-md-background:                   map-get($colors, secondary) !default;
$toolbar-md-text-color:                   #fff !default;
$toolbar-md-active-color:                 #fff !default;
$toolbar-md-inactive-color:               #fff !default;

$checkbox-md-icon-checkmark-color:        #fff !default;
$segment-button-md-text-color-activated:  #fff !default;



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here


// Ionic Material Design Sass
// --------------------------------------------------
// Custom App variables must be declared before importing Ionic.
// Ionic will use its default values when a custom variable isn't provided.
@import "ionic.md";


// App Shared Sass
// --------------------------------------------------
// All Sass files that make up this app goes into the app.core.scss file.
// For simpler CSS overrides, custom app CSS must come after Ionic's CSS.
@import 'app.core';


// App Material Design Only Sass
// --------------------------------------------------
// CSS that should only apply to the Material Design app
