<ion-card>
  <ion-grid no-padding>
    <ion-row align-items-center>
      <ion-col col-12 col-md-5>
        <div [ngClass]="{'playing': ifPlaying , '': !ifPlaying, 'is-seeking': isSeeking}" class="track-img">
          <img [src]="fullImage" alt="" #image>
          <div [colorFromImage]="image" class="background-shadow"></div>
        </div>
      </ion-col>
      <ion-col>
  <ion-card-content>
    <ion-card-title>
      <h2>{{track.trackName}}</h2>
    </ion-card-title>
    <h3>by {{track.artistName}}</h3>
    <em>{{track.collectionName}}</em>

    <ion-grid>
      <ion-row>
        <ion-col col-3 text-center>
          <button color="light" ion-fab (click)="toggleSong()">
            <ion-icon color="secondary" name="play" *ngIf="!ifPlaying"></ion-icon>
            <ion-icon color="secondary" name="square" *ngIf="ifPlaying"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-9>
          <ion-range [(ngModel)]="progress" max="100" (ionFocus)="handleDrag()" (ionBlur)="seek($event.value)" color="secondary"></ion-range>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
  <ion-item>
    <p>Track Duration</p>
    <ion-badge item-right color="light">
      {{track.trackTimeMillis | msToMinutes}}
    </ion-badge>
  </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
