<ion-card>
  <div [ngClass]="{'playing': ifPlaying , '': !ifPlaying}" class="track-img">
    <img [src]="track.album.images[0].url" alt="">
  </div>
  <ion-card-content>
    <ion-card-title>
      <h2>{{track.name}}</h2>
    </ion-card-title>
    <h3>by {{track.artists[0].name}}</h3>
    <em>{{track.album.name}}</em>

    <ion-grid>
      <ion-row>
        <ion-col col-3 text-center>
          <button color="light" ion-fab (click)="toggleSong()">
                      <ion-icon color="secondary" name="play" *ngIf="!ifPlaying"></ion-icon>
                      <ion-icon color="secondary" name="square" *ngIf="ifPlaying"></ion-icon>
                    </button>
        </ion-col>
        <ion-col col-9>
          <ion-range [(ngModel)]="progress" max="100" (ionFocus)="handleDrag()" (ionBlur)="seek($event.value)" color="secondary"></ion-range>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
  <ion-item>
    <p>Track Duration</p>
    <ion-note item-right>
      {{track.duration_ms | msToMinutes}}
    </ion-note>
  </ion-item>
</ion-card>
