.md page-search {
  .stauts-spinner ion-spinner {
    width: 50px;
    height: 50px;
  }
}

page-search {
  ion-content .scroll-content {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
  }
}

.button-clear-ios {
  color: map-get($colors, secondary);
}
