$white: #fff !default;
$gray: #ddd !default;

page-track-detail {
  .progress {
    background: $white;
    height: 2px;
    margin-top: 25px;
    width: 100%;
  }

  progress::-webkit-progress-bar {
    background: $gray;
  }

  progress[value]::-webkit-progress-value {
    background: color($colors, secondary);
  }

  button[round] {
    border-radius: 50%;
    height: 45px;
    width: 45px;

    ion-icon {
      line-height: initial;
    }
  }

  .track-img {
    transition: transform 250ms ease-in-out;
    transform: scale3d(0.8, 0.8, 0.8);
    max-width: 400px;
    margin: auto;

    &.playing {
      transform: scale3d(0.9, 0.9, 0.9);
    }

  }

  .track-img::before {
    opacity: 0;
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    transition: opacity 0.3s ease-in-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  }

  .track-img.playing::before {
    opacity: 1;
  }
}
